.button-test {
    width: 100%;
    padding-top: 30vh;

    button {
        display: block;
        margin: 0 auto;
        min-height: 10vh;
        min-width: 50vh;
        background-color: #b84343;
    }
}
